/* ==========================================================================
   #PRODUCER
   ========================================================================== */

@import '../global-import';

.root {
  background: $alabaster;
  padding-bottom: rem($global-spacing-unit-lg);
  padding-top: rem($global-spacing-unit-lg);
}

.title {
  font-weight: normal;
}
