/* ==========================================================================
   #TOP BAR
   ========================================================================== */

@import '../global-import';

.root {
  border-bottom: 1px solid rgba(0,0,0,.0975);
  padding-top: rem($global-spacing-unit);
  padding-bottom: rem($global-spacing-unit);
  position: relative;
}

.utils {
  margin-bottom: rem($global-spacing-unit-sm);
}

.branding {
  display: block;
  margin-bottom: -10px; /* Magic number */
}

.logo {
  color: inherit;
  display: inline-block;
  font-weight: normal;
  font-size: rem(30);
  text-decoration: none;

  &:hover {
    color: $palette-primary;
  }
}
