/* ==========================================================================
   #BUTTON
   ========================================================================== */

@import '../global-import';

.btn {
  background-color: #000;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  height: rem($global-input-height);
  line-height: rem($global-input-height);
  padding: 0 rem($global-spacing-unit);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &:focus {
    outline: none;
  }
}

.block {
  display: block;
}

.facebook {
  background-color: $palette-facebook;
}

.twitter {
  background-color: $palette-twitter;
}
