/* ==========================================================================
   #PRODUCER
   ========================================================================== */

@import '../global-import';

.root {
  background: $alabaster;
  padding-top: rem($global-spacing-unit-lg);
}

.header {
  text-align: center;
  margin-bottom: rem($global-spacing-unit);
}

.title {
  font-weight: normal;
  margin-bottom: rem($global-spacing-unit-xsm);
}

.categories {
  color: $palette-body-lighten;
}

.profile-meta {
  background: #fff;
  color: $palette-body-lighten;
  font-size: rem($small-font-size);
  padding-top: rem($global-spacing-unit-sm);
  padding-bottom: rem($global-spacing-unit-sm);
  text-align: center;
}

.profile-meta__list {
  margin-bottom: 0;
}
