/* ==========================================================================
   #LIGHTBOX
   ========================================================================== */

@import '../global-import';

.close {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: rem($global-spacing-unit);
  top: rem($global-spacing-unit);

  &:hover {
    color: $palette-primary;
  }

  &:focus {
    outline: none;
  }
}

.overlay {
  background: rgba(0,0,0,.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $stacking-max;

  @include mq($from: 'tablet') {
    padding: rem($global-spacing-unit-lg) rem($global-spacing-unit);
  }
}

.wrapper {
  background: #fff;
  height: 100vh;
  margin: 0 auto;
  padding: rem($global-spacing-unit-lg) 0 rem($global-spacing-unit);
  position: relative;
  width: 100%;

  @include mq($from: 'tablet') {
    height: auto;
    max-height: 90vh;
    max-width: rem(500);
  }
}

.content {
  max-height: calc(100% - #{($global-spacing-unit-lg + $global-spacing-unit)});
  padding: 0 rem($global-spacing-unit);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
