/* ==========================================================================
   #LIST-INLINE
   ========================================================================== */

/**
 * Display list horizontally.
 */

.list {
  > li {
    display: inline-block;

    + * {
      margin-left: 1em;
    }
  }
}

.bare {
  list-style-type: none;
}
